.page-header {
  position: relative;
}

.page-header__container {
  @media (min-width: $table-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 28px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 58px;
  }
}

.page-header__logo {
  @media (min-width: $table-width) {
    margin-right: 20px;
  }
}

.page-header__nav {
}
