img {
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: $main-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: $second-color;
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $table-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 110px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  padding: 10px;
  color: $second-color;
  font-family: $second-font;
  border: none;
  background-color: $main-color;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 300ms, color 300ms;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($second-color, 0.3);
  }
}
