$main-text-color: #000000;
$main-color: #68b738;
$second-color: #ffffff;
$third-color: #444444;

$main-font: "Arial", sans-serif;
$second-font: "Oswald", "Arail", sans-serif;

$table-width: 768px;
$desktop-width: 1440px;
